<section class="profile">
  <h2>{{user.local.character}}</h2>
  {{#if user.scents}}
    <div class="users">
      {{#each user.scents}}
         {{> 'user'}}
      {{/each}}
    </div>
  {{else}}
    <p>No User yet</p>
  {{/if}}
</section>
