<section class="row">
  <h4>Create NEW Scent:</h4>

  <form action="/scent" method="POST" class="auth-form">
    <p class="input-field">
      <input type="character" name="character" placeholder="Character">
    </p>
    <p class="input-field">
      <input type="content" name="content" placeholder="Content">
    </p>
    <p class="input-field">
      <input type="submit" value="Submit Scent!" class="btn">
    </p>
  </form>
</section>
